mkdocs
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-material
mkdocs-rss-plugin
mkdocs-simple-hooks
pymdown-extensions
