mdx-truly-sane-lists
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-file-filter-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-rss-plugin
pymdown-extensions
