mkdocs
mkdocs-awesome-pages-plugin
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-markmap
mkdocs-material
mkdocs-meta-descriptions-plugin
mkdocs-minify-plugin
mkdocs-video
pymdown-extensions
