fontawesome-markdown
mdx-truly-sane-lists
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-exclude
mkdocs-macros-plugin
mkdocs-material
mkdocs-same-dir
mkdocstrings
mkdocstrings-python
plantuml-markdown
pymdown-extensions
python-markdown-math
markdown <3.4
